<!DOCTYPE html>
<html lang="en-US">
<!-- head -->
@Html.Partial("_Head")



<body>

    <!-- preloader -->
    @Html.Partial("_PreLoader")

    <!-- site wrapper -->
    <div class="site-wrapper">

        <div class="main-overlay"></div>

        <!-- header -->
        @Html.Partial("_Navbar")

        <main class="content">
            @RenderBody()
        </main>

        <!-- footer -->
        @Html.Partial("_Footer")
    </div><!-- end site wrapper -->
    <!-- search popup area -->

    <div class="search-popup">
        <!-- close button -->
        <button type="button" class="btn-close" aria-label="Close"></button>
        <!-- content -->
        <div class="search-content">
            <div class="text-center">
                <h3 class="mb-4 mt-0">Press ESC to close</h3>
            </div>
            <!-- form -->
            <form class="d-flex search-form">

                @using (Html.BeginForm("Index", "Articles", FormMethod.Get))
                {
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control me-2" })
                    <button class="btn btn-default btn-lg" type="submit"><i class="icon-magnifier"></i></button>
                }
            </form>
        </div>
    </div>

    <!-- canvas menu -->
    @Html.Partial("_Menu")

    <!-- JAVA SCRIPTS -->
    @Html.Partial("_Script")

</body>
</html>