@model CrawlerDataProject.Models.Feedback

@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Sửa Feeback</h1>
            <a class="badge bg-dark text-white ms-2" href="upgrade-to-pro.html">
                Nhập các thông tin bên dưới
            </a>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card">
            <div class="card-body">
                <div class="m-sm-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                @Html.LabelFor(model => model.AccountId, htmlAttributes: new { @class = "control-label" })
                            </label>
                            @Html.EditorFor(model => model.AccountId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            <label>
                                @Html.LabelFor(model => model.ArticleId, htmlAttributes: new { @class = "control-label" })
                            </label>
                            @Html.EditorFor(model => model.ArticleId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ArticleId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="m-sm-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                            </label>
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-primary" />
                    <input type="reset" value="Reset Form" class="btn btn-secondary" />
                </div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
